<!-- templates/about.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}About - My Site{% endblock %}

{% block content %}
    <h3>Skills and Achivements</h3>
    <!-- Add your about page content here -->
    <div class="container-fluid">
        <canvas id="myBarChart" width="100%" height="50%"></canvas>
        <div style="padding-top:30px" >
            <h5>Timeline</h5>
            <div  id="roadMap">

        </div>
    </div>
    </div>


  <!-- Your JavaScript code for creating the chart -->
  <script src="{% static "script/skill.js" %}"></script>
{% endblock %}
