<!-- templates/about.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}About Thivesh{% endblock %}

{% block content %}
<div class="container" >

    <h3 style="padding-top:10px">About</h3>
    <!-- Add your about page content here -->
    <p>&emsp;&emsp;Versatile professional with two years of experience as a Software Developer. 
        Adept at coding to create reliable and user-friendly systems. 
        Proficient in developing and upgrading API tracking products for the drug manufacturing industry.
        Outstanding analytical abilities, problem-solving, decision-making, and interpersonal skills.</p>
</div>
{% endblock %}